@import url(../reset.css);
@import url(../header.css);
@import url(../footer.css);

.topImg {
  background: url(../../images/common/companyInfo.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  background-size: cover;
  text-indent: -9999px;
  background-position: center;
}

.contents .inner {
  max-width: 1500px;
  margin: 0 auto; 
}
.contentsTitle {
  font-size: 38px;
  font-weight: 700;
  margin: 60px 0;
  text-align: center;
  position: relative;
}

.contentsTitle::after {
  display: block;
  content: '';
  width: 35px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -7px;
  margin: 0 auto;
  left: 49%;
}
.sub_TitleBar {
  border-bottom: 2px solid #e5e5e5;
  width: 100%;
  margin-bottom: 70px;
  }
  .sub_TitleBar_list {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  .sub_TitleBar_list li {
    float: left;
    width: 33.33%;
    font-size: 22px;
    font-weight: 600;
    color: #373737;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .sub_TitleBar_list li a {
    display: inline-block;
  }
  .sub_TitleBar_list li a::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #3275CB;
  }
  
  .sub_TitleBar_list li:nth-child(1)>a::after {
    display: none;
  }
  .sub_TitleBar_list li:nth-child(3)>a::after {
    display: none;
  }

  
  .sub_TitleBar_list li:nth-child(1)>a:hover::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #3275CB;
  }
  .sub_TitleBar_list li:nth-child(3)>a:hover::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #3275CB;
  }

.contentsTitle_des {
  margin-bottom: 80px;
  font-size: 21px;
  line-height: 1.5;
}

.sub-depth-nav {
  display: table;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #e5e5e5;
  margin-bottom: 90px;
}
.sub-depth-nav li {
  display: table-cell;
  font-weight: 600;
  text-align: center;
}
.sub-depth-nav li a {
  display: block;
  width: 100%;
  padding: 1.5em 0;
  box-sizing: border-box;
}

.sub-depth-nav li a:hover {
  background: #3275CB;
  color: #fff;
}

.sub-depth-nav li:first-child {
  border-right: 1px solid #e5e5e5;
}
.sub-depth-nav li:nth-child(2) {
  border-right: 1px solid #e5e5e5;
  background: #3275CB;
  color: #fff;
}

.contentsListTitle {
  color: #3275CB;
  margin-bottom: 60px;
  position: relative;
}

.contentsListTitle::after {
  display: block;
  content: '';
  width: 35px;
  height: 2px;
  background-color: #3195d9; 
  position: absolute;
  bottom: -20px;
}

.contentsListTitle h2 {
  font-size: 28px;
  font-weight: 600;
}
.contentsListTitle_des {
  margin-bottom: 50px;
  width: 100%;
  position: relative;
}
.contentsListTitle_des p {
  font-size: 21px;
  line-height: 1.5;
  margin-bottom: 50px;
  width: 70%;
  float: left;
}
.contentsListImg {
  float: right;
  width: 25%;
  display: block;
  position: absolute;
  right: 0;
}

.contentsListItems ul {
  font-size: 22px;
  margin-bottom: 100px;
  font-weight: 700;
}

.contentsListItems ul span {
  display: block;
  margin-bottom: 50px;
  position: relative;
}
.contentsListItems ul span::after {
  display: block;
  content: '';
  width: 35px;
  height: 2px;
  background-color: #3195d9; 
  position: absolute;
  bottom: -20px;
}
.contentsListItems ul li {
  font-size: 17px;
  list-style: disc;
  margin-bottom: 30px;
  font-weight: 300;
  margin-left: 25px;
}

figure img{
  width: 15%;
  margin-right: 10px;
}


main{
  width: 100%;
}

/* main */
